.title-bar {
    width: calc(100vw);
    padding: 20px 0;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

.options-box {
    padding: 16px 0 8px 0;
}

.inbox-container {
    padding: 8px 0 16px 0;
}

.inbox-list {
    
}

.inbox-preview {
    
}

button i.material-icons {
    padding-right: 0.25em;
}

table {
    width: 100%;
}

.mat-cell {
    font-size: 12pt!important;
}
